<h1>{{ title }}</h1>
<nav>
  <!-- TODO: Add style to active button -->

  <a routerLink="/admin" routerLinkActive="activebutton">Admin</a>
  <a routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a>
  <a routerLink="/users" routerLinkActive="activebutton">Users</a>
</nav>

<!-- A template can also have any number of named outlets.
  Each named outlet has its own set of routes with their own components.
  Multiple outlets can display different content, determined by different routes, all at the same time. -->
<div class="row">
  <div [@routeAnimation]="getAnimationData(routerOutlet)" class="col">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
  <div class="col-4">
    <a [routerLink]="[{ outlets: { popup: ['messages'] } }]">View messages</a>
    <router-outlet name="popup"></router-outlet>
  </div>
</div>
